<?xml version="1.0"?>
<robot xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="sensors">

  <!-- Front LiDAR  -->

  <xacro:include filename="$(find my_package)/urdf/sick_lms1xx_mount.urdf.xacro" />
  <xacro:sick_lms1xx_mount prefix="$(optenv JACKAL_LASER_MOUNT front)"
                     topic="$(optenv JACKAL_LASER_TOPIC /front_lidar_scan)"/>

  <joint name="$(optenv JACKAL_LASER_MOUNT front)_laser_mount_joint" type="fixed">
    <origin xyz="$(optenv JACKAL_LASER_OFFSET 0 0 0)"
            rpy="$(optenv JACKAL_LASER_RPY 0 0 0)" />
    <parent link="$(optenv JACKAL_LASER_MOUNT front)_mount" />
    <child link="$(optenv JACKAL_LASER_MOUNT front)_laser_mount" />
  </joint>

  <!-- Rear LiDAR  -->

  <!-- Removed.  Included above already -->
  <!-- xacro:include filename="$(find my_package)/urdf/sick_lms1xx_mount.urdf.xacro" / -->
  <xacro:sick_lms1xx_mount prefix="$(optenv JACKAL_LASER_MOUNT rear)"
                     topic="$(optenv JACKAL_LASER_TOPIC /rear_lidar_scan)"/>

  <joint name="$(optenv JACKAL_LASER_MOUNT rear)_laser_mount_joint" type="fixed">
    <origin xyz="$(optenv JACKAL_LASER_OFFSET 0 0 0)"
            rpy="$(optenv JACKAL_LASER_RPY 0 0 3.14159)" />
    <parent link="$(optenv JACKAL_LASER_MOUNT rear)_mount" />
    <child link="$(optenv JACKAL_LASER_MOUNT rear)_laser_mount" />
  </joint>

</robot>
